img {
    width: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #696969, #808080);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;

    ul {
        display: flex;
    }


}

nav ul {
    list-style-type: none;

    a {
        text-decoration: none;
        color: black;
    }

    li:not(:last-child) {
        margin-right: 15px;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 1rem;
    }

}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}

@media (max-width: 900px) {
    /* Gestion de l'affichage du menu */
    input[type="checkbox"]:not(:checked) ~ ul {
        display: none;
    }
    input[type="checkbox"]:checked ~ ul {
        display: flex;
        flex-direction: column;
    }

    /* Gestion de la checkbox */
    input[type="checkbox"] + label:before {
        font-family: FontAwesome;
        font-size: 30px;
    }

    input[type="checkbox"] + label:before {
        content: "\f0c9";
    }

    input[type="checkbox"]:not(:checked) + label:before {
        content: "\f0c9";
    }

    input[type="checkbox"]:checked + label:before {
        content: "\f00d";
    }


    .menu-button-container {
        display: flex;
    }
    nav {
        ul {
            list-style-type: none;
            background-color: #6E6E6E;
            z-index: 4;
            margin-top: 20px;


            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}


/*-----------------main------*/
main {

    min-height: 87vh;
    padding: 20px;
}

.current{
    width: 60%;
    margin: auto;
    border: 1px #6E6E6E solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    padding: 10%;
    border-radius: 4em;
    animation-name: home;
    animation-duration: 7200s;
}

@keyframes home {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/*--------footer----*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #696969, #808080);
    height: 4rem;
}
